.box{
	width: 262px;
	height: 155px;
	padding: 28px 25px;
	background-color: indianred;

}
.box1{
	width: 197pt;
    height: 116pt;
    background-color: #23a557;
    margin: -155px 0px 0px 267px
}
.box2{
	width: 16rem;
	height: 9rem;
	background-color: rgb(59, 193, 150);
	margin-left: 272px;

}

.box3{
	width: 16%;
    height: 9rem;
    margin-top: -164px;
    background-color: rgba(243, 107, 207, .5);
}
.box4{
	display: block;
	width: 200px;
	height: 100px;
	padding: 20px;
	border: 5px solid red;
	margin: 20px;
	background-color: indianred;
}
h1{
	display: block;
	font-size: 24px;
}
h2{
	display: inline-block;
}
h3{
	display: inline;
	font-size: 22px;
}